
/***************************
**          MAIN          **
***************************/

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}




/***************************
**         CELLS          **
***************************/

.cells-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}


.status {
  margin-bottom: 10px;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.cell.N, .cell.NE, .cell.NW {
	border-top: 1px solid transparent;
}

.cell.E, .cell.NE, .cell.SE {
	border-right: 1px solid transparent;
}

.cell.S, .cell.SE, .cell.SW {
	border-bottom: 1px solid transparent;
}

.cell.W, .cell.NW, .cell.SW {
	border-left: 1px solid transparent;
}

.cell:focus {
  outline: none;
}

.cell.enabled:hover {
	background-color: silver;
}

.cell.sizeBoard {
  font-size: 72px;
  line-height: 102px;
  height: 102px;
  margin-right: -3px;
  margin-top: -3px;
  width: 102px;
  border-radius: 8px;
}




/***************************
**         BOARDS         **
***************************/

.smallboard {
  background: #fff;
  float: left;
  padding: calc(4px + 0.5vw);
  transition: border 0.5s;
  border-radius: 8px;
  margin: calc(2px + 0.25vw);
}

.smallboard.enabled {
	border: 4px solid silver;
}

.smallboard.disabled {
	border: 4px solid transparent;
}




